html {
    scroll-behavior: smooth;
}

/* ############################### Global Styles ############################### */
body {
    text-align: center;
    padding: 5px;
    background: linear-gradient(145deg, #141e30, #243b55);
    /* tło */
    color: white;
    font-family: 'Segoe UI', sans-serif;
    /* background: url('/static/images/Nature-Landscape-1080-x-1920-Wallpaper-Vertical.jpg') center/cover fixed no-repeat; */
}

/* ############################### NAVBAR ############################### */
.navbar {
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    margin: 1rem auto;
    max-width: 90%;
    z-index: 999;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    transition: background 0.3s, transform 0.2s;
    background: rgba(255, 255, 255, 0.08);
}

.navbar a:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

/* ################################## UNIVERSAL STYLES ################################## */
.card {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    background: rgba(90, 90, 90, 0.25);
    border-radius: 16px;
    /* backdrop-filter: blur(10px); */
    border: 1px solid rgba(255, 255, 255, 0.35);
    padding: 20px;
}

.section-title {
    text-align: center;
    font-size: 24px;
}

.pretty-button button {
    width: 150px;
    height: 40px;
    background: rgba(90, 90, 90, 0.25);
    border: 1px solid rgba(90, 90, 90, 0.35);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    /* backdrop-filter: blur(4px); */
    /* -webkit-backdrop-filter: blur(4px); */
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;
}

/* ############################### FIRE PRESETS ############################### */
.top-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
    overflow-x: auto;

}

.scroll-wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    gap: 10px;
    margin-bottom: 15px;
}

.button-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    min-width: max-content;

}

.button-row button {
    width: 120px;
    font-size: 18px;
    text-align: center;

}

.row-1 button {
    height: 40px;
    background: rgba(90, 90, 90, 0.25);
    border: 1px solid rgba(90, 90, 90, 0.25);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    /* backdrop-filter: blur(4px); */
    /* -webkit-backdrop-filter: blur(4px); */
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;
}

.row-2 button {
    height: 30px;
    background: rgba(0, 255, 0, 0.25);
    border: 1px solid rgba(90, 90, 90, 0.25);
    color: white;
    border-radius: 8px;
    font-size: 16px;
    /* backdrop-filter: blur(4px); */
    /* -webkit-backdrop-filter: blur(4px); */
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;
}

.row-3 button {
    height: 30px;
    background: rgba(255, 0, 0, 0.25);
    border: 1px solid rgba(90, 90, 90, 0.25);
    color: white;
    border-radius: 8px;
    font-size: 16px;
    /* backdrop-filter: blur(4px); */
    /* -webkit-backdrop-filter: blur(4px); */
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;
}

/*################################ SET INPUT ################################*/
.point-input {
  display: flex;
  justify-content: center;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 12px;
  /* background: rgba(255, 255, 255, 0.06); */
  /* backdrop-filter: blur(8px); */
  /* -webkit-backdrop-filter: blur(8px); */
  /* border: 1px solid rgba(255, 255, 255, 0.15); */
}

.point-input input {
  width: 80px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  color: white;
  background: rgba(255, 255, 92550, 0.15);
  border: 1px solid rgba(90, 90, 90, 0.35);
  border-radius: 10px;
  /* backdrop-filter: blur(4px); */
  /* -webkit-backdrop-filter: blur(4px); */
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.1);
  outline: none;
}

/* ############################### Position Box Styles ############################### */
.position-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;

}

.position-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 20px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.08);
    /* backdrop-filter: blur(12px); */
    /* -webkit-backdrop-filter: blur(12px); */
    border: 1px solid rgba(90, 90, 90, 0.35);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    text-align: center;
    color: white;
    font-size: 18px;
    transition: background 0.3s ease, transform 0.2s ease;
}

/* ############################### PS4 CONTROLLER STYLES ############################### */
.ps4 {
    display: flex;
    justify-content: left;
    gap: 8px;
    margin-bottom: 15px;
    overflow-x: auto;
}

/* ############################### SERVO CONTROL STYLES ############################### */
.controller {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 15px;
    overflow-x: auto;

}

.servo-block {
    margin-bottom: 20px;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}

.servo-label {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: -10px 0 10px;
    color: #fff;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000;
}

input[type=range] {
    appearance: none;
    width: 80%;
    height: 8px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
}

.angle-display {
    margin-top: 10px;
    font-size: 18px;
}

/* ############################### PICK and PLACE STYLES ############################### */
#pairs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.point-pair {
    width: 150px;
    flex-shrink: 0;
    padding: 16px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.08);
    /* backdrop-filter: blur(12px); */
    /* -webkit-backdrop-filter: blur(12px); */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.point-pair label {
    font-size: 18px;
    font-weight: 500;
    color: #ddd;
}

.point-pair input[type="number"] {
    background: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 10px;
    padding: 8px;
    color: white;
    font-size: 18px;
    /* backdrop-filter: blur(4px); */
    /* -webkit-backdrop-filter: blur(4px); */
    /* box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.1); */
}


