html {
    scroll-behavior: smooth;
}

/* ############################### Global Styles ############################### */
body {
    text-align: center;
    padding: 5px;
    background: linear-gradient(145deg, #141e30, #243b55);
    /* tło */
    color: white;
    font-family: 'Segoe UI', sans-serif;
    /* background: url('/static/images/Nature-Landscape-1080-x-1920-Wallpaper-Vertical.jpg') center/cover fixed no-repeat; */
}

/* ############################### NAVBAR ############################### */
.navbar {
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.05); /* półprzezroczysty biały */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    margin: 1rem auto;
    max-width: 90%;
    z-index: 999;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    transition: background 0.3s, transform 0.2s;
    background: rgba(255, 255, 255, 0.08);
}

.navbar a:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

/* ################################## UNIVERSAL STYLES ################################## */

.card {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
}

.section-title {
    text-align: center;
    font-size: 24px;
}

.pretty-button button {
    width: 150px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;
}

/* ############################### FIRE PRESETS ############################### */

.top-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
    overflow-x: auto;

}

.scroll-wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    gap: 10px;
    margin-bottom: 15px;
}

.button-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    min-width: max-content;

}

.button-row button {
    width: 120px;
    font-size: 18px;
    text-align: center;

}

.row-1 button {
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;
}

.row-2 button {
    height: 30px;
    background: rgba(0, 255, 4, 0.539);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 8px;
    font-size: 16px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;
}

.row-3 button {
    height: 30px;
    background: rgba(255, 0, 0, 0.53);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 8px;
    font-size: 16px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;
}

/*################################ POINT INPUT ################################*/

.point-input {
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 15px;
}

.point-input input {
    display: flex;
    width: 80px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    background-color: #141e30;
}

/* ############################### Position Box Styles ############################### */
.position-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.position-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    width: 180px;
    text-align: center;
    background: rgba(155, 255, 255, 0.1);
    color: #fff;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;

}

/* ############################### PS4 CONTROLLER STYLES ############################### */
.ps4 {
    display: flex;
    justify-content: left;
    gap: 8px;
    margin-bottom: 15px;
    overflow-x: auto;
}

/* ############################### SERVO CONTROL STYLES ############################### */

.controller {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 15px;
    overflow-x: auto;

}

/** ############################### SERVO CONTROL STYLES ############################### */
.servo-block {
    margin-bottom: 20px;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}

.servo-label {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: -10px 0 10px;
    color: #fff;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000;
}

input[type=range] {
    appearance: none;
    width: 80%;
    height: 8px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
}

.angle-display {
    margin-top: 10px;
    font-size: 18px;
}
