<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robotic Arm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- ############################### NAVIGATION BAR ############################### -->
    <nav class="navbar">
        <a href="#presets">Presets</a>
        <a href="#setpoint">Point</a>
        <a href="#ps4">ps4</a>
        <a href="#controller">Controller</a>
        <a href="#angles">Manual</a>
    </nav>

    <!-- ############################### HEADER SECTION ############################### -->
    <header>
        <h1>TAJFUNEK ROBOTIC ARM</h1>
    </header>

    <main>
    <!-- ############################### CENTER SELECT SECTION ############################### -->
        <section id="presets" class="card">
        <h2>Fire Preset</h2>
            <div class="preset-buttons">
                <button onclick="playSequence()">Play</button>
                <button onclick="stopSequence()">Stop</button>
                <button onclick="goHome()">Home</button>
            </div>
        </section>    
        <section id="presets" class="scroll-buttons card top-buttons">
            <div class="preset-buttons">
                <button onclick="movePreset('1')">1</button>
                <button onclick="movePreset('2')">2</button>
                <button onclick="movePreset('3')">3</button>
                <button onclick="movePreset('4')">4</button>
                <button onclick="movePreset('5')">5</button>
                <button onclick="movePreset('6')">6</button>
                <button onclick="movePreset('7')">7</button>
                <button onclick="movePreset('8')">8</button>
                <button onclick="movePreset('9')">9</button>
                <button onclick="movePreset('10')">10</button>
            </div>    
            <div class="preset-buttons">
                <button onclick="savePreset('1')">Save 1</button>
                <button onclick="savePreset('2')">Save 2</button>
                <button onclick="savePreset('3')">Save 3</button>
                <button onclick="savePreset('4')">Save 4</button>
                <button onclick="savePreset('5')">Save 5</button>
                <button onclick="savePreset('6')">Save 6</button>
                <button onclick="savePreset('7')">Save 7</button>
                <button onclick="savePreset('8')">Save 8</button>
                <button onclick="savePreset('9')">Save 9</button>
                <button onclick="savePreset('10')">Save 10</button>
            </div>
        <div class="preset-buttons">
            <button onclick="deletePreset('1')">Usuń 1</button>
            <button onclick="deletePreset('2')">Usuń 2</button>
            <button onclick="deletePreset('3')">Usuń 3</button>
            <button onclick="deletePreset('4')">Usuń 4</button>
            <button onclick="deletePreset('5')">Usuń 5</button>
            <button onclick="deletePreset('6')">Usuń 6</button>
            <button onclick="deletePreset('7')">Usuń 7</button>
            <button onclick="deletePreset('8')">Usuń 8</button>
            <button onclick="deletePreset('9')">Usuń 9</button>
            <button onclick="deletePreset('10')">Usuń 10</button>
        </div>
        </section>        

        <!-- ############################### SET POINT ############################### -->
        <section class="card">
        <h2>Set Point</h2>
            <section id="setpoint">
                <div class="point-input">
                    <input type="number" id="inputX" placeholder="X">
                    <input type="number" id="inputY" placeholder="Y">
                    <input type="number" id="inputZ" placeholder="Z">
                </div>
            </section>    
            <section id="setpoint" class="scroll-buttons">    
                <div class="preset-buttons">
                    <button onclick="moveToPoint('normal')">Normal</button>
                    <button onclick="moveToPoint('flat')">Flat</button>
                    <button onclick="moveToPoint('vertical_down')">Down</button>
                    <button onclick="moveToPoint('vertical_up')">Up</button>
                    <button onclick="moveToPoint('min_angle_angle')">Sum</button>
                </div>    
            </section>
        </section>


        <!-- ############################### POSITIONS SECTION ############################### -->
        <section id="positions" style="display: flex; gap: 40px; justify-content: center;" class="card">
        <h2>Positions</h2>
            <div class="position-box">
                <button onclick="getCurrentAngles()">Angles</button>
                <div id="angles-display">
                    <p>Baza: <span id="angle-base">--</span></p>
                    <p>Shoulder: <span id="angle-shoulder">--</span></p>
                    <p>Elbow: <span id="angle-elbow">--</span></p>
                    <p>Wrist: <span id="angle-wrist">--</span></p>
                </div>
            </div>

            <div class="position-box">
                <button onclick="getCurrentPosition()">Point</button>
                <div id="position-display">
                    <p>X: <span id="pos-x">--</span></p>
                    <p>Y: <span id="pos-y">--</span></p>
                    <p>Z: <span id="pos-z">--</span></p>
                </div>
            </div>
        </section>


        <!-- ############################### PS4 CONTROLLER SECTION ############################### -->
        <section id="ps4" class="scroll-buttons card">
            <h2>PS4 Controller</h2>
            <div class="preset-buttons">
                <button onclick="startPad()">Go PS4</button>
                <button onclick="stopPad()">Stop PS4</button>
                <button onclick="savePosition()">Save</button>
                <button onclick="resetPositions()">Delete</button>
                <button onclick="playPositions()">Play</button>
                <button onclick="stopPositions()">Stop</button>
            </div>
        </section>

        <hr>

        <!-- ############################### CONTROLLER SECTION ############################### -->
        <section id="controller" class="scroll-buttons card">
            <h2>Controller</h2>
            <div class="preset-buttons">
                <button id="toggleGripper" onclick="toggleGripper()">Gripper</button>
                <button onclick="enableManualControl()">Manual</button>
                <button onclick="torqueOn()">Torque</button>
                <button onclick="torqueOff()">Release</button>


            </div>
        </section>

        <hr>

        <!-- ############################### ANGLES SECTION ############################### -->
        <section id="angles" class="shrink-buttons">
            <h2>Manual</h2>
        </section>
        <section id="angles">
            <div class="servo-block">
                <div class="servo-label">BASE: <span id="angle1">90</span>°</div>
                <input type="range" min="0" max="180" value="90" id="slider1" disabled>
            </div>
            <div class="servo-block">
                <div class="servo-label">SHOULDER: <span id="angle2">90</span>°</div>
                <input type="range" min="0" max="180" value="90" id="slider2" disabled>
            </div>
            <div class="servo-block">
                <div class="servo-label">ELBOW: <span id="angle3">90</span>°</div>
                <input type="range" min="0" max="290" value="90" id="slider3" disabled>
            </div>
            <div class="servo-block">
                <div class="servo-label">WRIST: <span id="angle4">90</span>°</div>
                <input type="range" min="0" max="260" value="90" id="slider4" disabled>
            </div>
        </section>
    </main>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>