<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robotic Arm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- ############################### NAVIGATION BAR ############################### -->
    <nav class="navbar">
        <a href="#presets">Presets</a>
        <a href="#setpoint">Point</a>
        <a href="#record">Record</a>
        <a href="#torque">Torque</a>
        <a href="#controller">Controller</a>
        <a href="#angles">Manual</a>
    </nav>

    <!-- ############################### HEADER SECTION ############################### -->
    <header>
        <h1>TAJFUNEK ROBOTIC ARM</h1>
    </header>

    <hr>

    <main>
    <!-- ############################### CENTER SELECT SECTION ############################### -->
        <h2>Fire Preset</h2>
        <section class="center-select">
            <div class="track-wrapper">
                <div class="button-track" id="scrollTrack">
                    <button onclick="movePreset('1')">Home</button>
                    <button onclick="movePreset('2')">2</button>
                    <button onclick="movePreset('3')">3</button>
                    <button onclick="movePreset('4')">4</button>
                </div>
            </div>
        </section>
        <section id="presets" class="scroll-buttons">
            <div class="preset-buttons">
                <button onclick="savePreset('1')">Save 1</button>
                <button onclick="savePreset('2')">Save 2</button>
                <button onclick="savePreset('3')">Save 3</button>
                <button onclick="savePreset('4')">Save 4</button>
            </div>

        <hr>

        <!-- ############################### SET POINT ############################### -->
        <section id="setpoint">
            <h2>Set Point</h2>
            <div class="point-input">
                <input type="number" id="inputX" placeholder="X">
                <input type="number" id="inputY" placeholder="Y">
                <input type="number" id="inputZ" placeholder="Z">
            </div>
        </section>    
        <section id="setpoint" class="scroll-buttons">    
            <div class="preset-buttons">
                <button onclick="moveToPoint('normal')">Normal</button>
                <button onclick="moveToPoint('flat')">Flat</button>
                <button onclick="moveToPoint('vertical_down')">Down</button>
                <button onclick="moveToPoint('vertical_up')">Up</button>
                <button onclick="moveToPoint('min_angle_angle')">Sum</button>
            </div>    
        <section>

        <hr>

        <!-- ############################### RECORD SECTION ############################### -->
        <section id="record" class="scroll-buttons">
            <h2>Record</h2>
            <div class="preset-buttons">
                <button onclick="savePosition()">Save</button>
                <button onclick="resetPositions()">Delete</button>
                <button onclick="playPositions()">Play</button>
                <button onclick="stopPositions()">Stop</button>
            </div>
        </section>

        <hr>

        <!-- ############################### CONTROLLER SECTION ############################### -->
        <section id="controller" class="scroll-buttons">
            <h2>Controller</h2>
            <div class="preset-buttons">
                <button id="toggleGripper" onclick="toggleGripper()">Gripper</button>
                <button onclick="startPad()">Go PS4</button>
                <button onclick="stopPad()">Stop PS4</button>
                <button onclick="enableManualControl()">Manual</button>
                <button onclick="torqueOn()">Torque</button>
                <button onclick="torqueOff()">Release</button>


            </div>
        </section>

        <hr>

        <!-- ############################### ANGLES SECTION ############################### -->
        <section id="angles" class="shrink-buttons">
            <h2>Set Angle</h2>
        </section>
        <section id="angles">
            <div class="servo-block">
                <div class="servo-label">BASE: <span id="angle1">90</span>°</div>
                <input type="range" min="0" max="180" value="90" id="slider1" disabled>
            </div>
            <div class="servo-block">
                <div class="servo-label">SHOULDER: <span id="angle2">90</span>°</div>
                <input type="range" min="0" max="180" value="90" id="slider2" disabled>
            </div>
            <div class="servo-block">
                <div class="servo-label">ELBOW: <span id="angle3">90</span>°</div>
                <input type="range" min="0" max="290" value="90" id="slider3" disabled>
            </div>
            <div class="servo-block">
                <div class="servo-label">WRIST: <span id="angle4">90</span>°</div>
                <input type="range" min="0" max="260" value="90" id="slider4" disabled>
            </div>
        </section>
    </main>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>